<!DOCTYPE html>
{% extends 'epi/epi_list.html' %}
{% load staticfiles %}
<html lang="pt">

{% block breadcrumb_items %}
<li class="breadcrumb-item"><a href="{% url 'epi:epi_list' %}">EPI's</a></li>
<li class="breadcrumb-item"><a href="{{ object.epi.get_absolute_url }}">{{ object.epi }}</a></li>
<li class="breadcrumb-item"><a href="{{ object.get_absolute_url }}">{{ object }}</a></li>
<li class="breadcrumb-item active" aria-current="page">Editar</li>
{% endblock %}

{% block main_content %}
<div class="card mt-mb-3 shadow">
    <form method="post" action="" enctype="multipart/form-data">
        {{ form.management_form }}
        {{ form.epi }}
        {{ form.utilizador }}
        {{ formset.management_form }}
        {% csrf_token %}
        <div class="card-header">
            <h3 class="display-5 text-center">Editar Verificacao: {{ object }}</h3>
        </div>
        <div class="card-body">
            <div class="card-text">
                <div class="form-row">
                    {% for field in form.visible_fields %}
                    <div class="form-group col-md-3">
                        <label>{{ field.label_tag }}</label>
                        {{ field }}
                    </div>
                    {% endfor %}
                </div>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Imagens</th>
                        <th>Remover?</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for form in formset.forms %}
                    <tr>
                        {% for field in form.visible_fields %}
                        <td>
                            {# Include the hidden fields in the form #}
                            {% if forloop.first %}
                            {% for hidden in form.hidden_fields %}
                            {{ hidden }}
                            {% endfor %}
                            {% endif %}
                            {{ field.errors.as_ul }}
                            {{ field }}
                        </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer">
            <div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group mr-2" role="group" aria-label="First group">
                    <button class="btn btn-primary" type="submit">Gravar</button>
                    <a class="btn btn-secondary" href="{{ object.get_absolute_url }}" role="button">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}


</html>